<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", id: "login", class: "fadeIn second field", placeholder: "example@example.com" %>
        <%= f.password_field :password, autocomplete: "current-password", class: "fadeIn third field", placeholder: "***********" %>

      <div class="actions">
        <%= f.submit "Log in", class: "fadeIn fourth" %>
      </div>
    <% end %>


    <div id="formFooter">
      <%= render "devise/shared/links" %>
    </div>

  </div>
</div>





