<!DOCTYPE html>
<html>
  <head>
    <title>Agenda</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- As a link -->
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="<%= agenda_index_url %>">Agenda</a>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <% if notice %>
            <p class="notice"><%= notice %></p>
          <% end %>
          <% if alert %>
            <p class="alert"><%= alert %></p>
          <% end %>

          <%= yield %>
        </div>

      </div>
    </div>

  </body>
</html>
